<div id="news-feed" class="ion-padding">
  <div id="sunset-container">
    <div id="sunset-header">
      <h1 id="sunset-title">SolanaHub Has Sunset</h1>
      <p id="sunset-subtitle">We've fully moved to our new app</p>
    </div>
    
    <div id="hubra-section">
      <ion-img id="hubra-logo" src="assets/hubra-logo.svg" />
      <h2 id="hubra-title">Hubra</h2>
      <p id="hubra-description">
        The power of a CEX, with the freedom of DeFi.<br/>
        Experience the future of decentralized finance.
      </p>
    </div>

    <ion-button 
      id="hubra-button" 
      expand="block" 
      (click)="navigateToHubra()">
      Continue to Hubra
    </ion-button>
  </div>
</div>
