<div class="convert-positions-modal">
  <div class="convert-positions-modal__bg-image"></div>
  <div class="modal-header-wrapper">
    <div class="close-ad" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="modal-header">
      <div class="modal-header__title">Boost your staking rewards with hubSOL</div>
      <div class="modal-header__description">Convert your SOL to hubSOL to get boosted APY and Other perks</div>
      <div class="modal-header__chips"><chip color="primary">10% APY</chip><chip color="primary">Pro Member</chip></div>
    </div>
  </div>

  <div class="convert-to-hubSOL-modal">
    <div class="modal-body">
      <div class="modal-body__header">
        <ion-checkbox [checked]="totalChecked()" (ionChange)="toggleAll()"></ion-checkbox>
        <div>Deselect all {{ selectItems() }} assets</div>
      </div>
      <div class="modal-body__content">
        @for (position of data(); track position.address) {
          <div class="modal-body__item">
            <convert-to-hub-sol-item [position]="position" (toggleItemEmitter)="toggleItem($event)"></convert-to-hub-sol-item>
          </div>
        }
      </div>
    </div>

    <div class="modal-footer">
      <ion-button expand="block" [disabled]="!totalChecked()" (click)="convertToHubSOL()">
        Convert to {{ utils.formatBigNumbers(total()) }} hubSOL
      </ion-button>
      <div class="modal-footer__message" (click)="hide()">Don't show me again</div>
    </div>
  </div>

</div>
