<div class="portfolio-box">
  @if (wallet?.walletAddress) {
    <div class="portfolio-box-body">
      <div class="portfolio-box-wallet-text">{{ wallet.nickname ? wallet.nickname : wallet.walletAddressShort }}</div>
      <ion-text>{{ wallet.value | currency:'USD' }}</ion-text>
    </div>
    <div class="portfolio-box-header">
      <div class="portfolio-actions">
        <ion-toggle color="primary" mode="md" [checked]="wallet.enabled"
                    (ionChange)="toggleWallet(wallet.walletAddress)"></ion-toggle>
        <ion-icon id="presentPopover-{{wallet.walletAddress}}" name="ellipsis-vertical"
                  (click)="presentPopover($event, wallet.walletAddress)"></ion-icon>
      </div>
    </div>
  } @else {
    <div class="portfolio-box-empty">
      <div class="portfolio-box-empty__skeleton">
        <ion-skeleton-text [animated]="true"/>
      </div>
    </div>
  }
  <ion-ripple-effect/>
</div>
