:host{
        max-width: 100%;
}
#form-wrapper {
    border: 1px solid var(--ion-color-border);
    background-color: var(--ion-color-light);
    border-radius: 12px;
    margin-bottom: 16px;
}
#stake-form {
    width: 570px;
    max-width: 100%;
    padding: 16px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ion-segment {
    padding: 4px;
    border-radius: 8px;
    --background: var(--ion-background-color);
}

ion-segment-button {
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;

    ion-label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--ion-color-dark);
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
    }
}

#validator-insights {

    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto 16px;
    ion-img {
        width: 16px;
        height: 16px;
    }

    .insight-item {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--ion-color-dark);
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        text-transform: capitalize;
    }
}
