<div id="stake-container" #stakeContainer>
  <div id="form-wrapper">
    <div id="stake-form">
      <div id="segment-stake-wrapper" >
        <ion-segment [value]="segmentedStakeView()" (ionChange)="onSegmentChange($event)" mode="ios" #segmentedView>
          <ion-segment-button value="stake">
            <ion-label>Stake</ion-label>
          </ion-segment-button>
          <ion-segment-button value="unstake">
            <ion-label>Unstake</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      @if(segmentedStakeView() === 'stake') {
      <stake-form />

      }
      @if(segmentedStakeView() === 'unstake') {
      <unstake-form [manualUnstakeLST]="manualUnstakeLST()" />
      }
    </div>
    @if(segmentedStakeView() === 'unstake') {
    <pro-upgrade-message *appIsPremiumAction="'unstake-lst'" />
    }
  </div>
  <div id="validator-insights">
    <div class="insight-item">
      <ion-img src="assets/images/staking-check-icon.svg" /> MEV Bonus
    </div>
    <div class="insight-item">
      <ion-img src="assets/images/staking-check-icon.svg" /> Paladin - sandwich Protection validator
    </div>
  </div>
</div>