ion-chip {
  --color: var(--ion-color-primary);
}

.upgrade-wrapper {
  color: var(--ion-color-dark);
  border-top: 1px solid var(--ion-color-border);
  position: relative;

  ion-img {
    position: absolute;
    right: 0;
  }

  &__upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  &__pro {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
  }

  &__pro-description {
    font-size: 13px;
    font-weight: 500;
    max-width: 346px;
    width: 100%;
    line-height: 18px;
  }

  &__learn-more ion-button {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    text-transform: initial;
    --color: var(--ion-color-dark);
    --background: var(--ion-color-light);;
    --background-hover: var(--ion-color-page-top);
    --border-style: solid;
    --border-width: 1px;
    --border-color: var(--Component-colors-Utility-Gray-utility-gray-200, #EAECF0);
    --box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 14px;
    --padding-end: 14px;
  }
}

