

<div class="stake-card" slot="header" >
  <div class="stake-info">
    <!-- identifier Profile Section -->
    <div class="identifier-profile">
      @if(stake){
        <ion-img [src]="getLogoURI(stake)" />
        @if(stake.source === 'native'){
          <ion-icon name="lock-closed-outline" class="account-type"></ion-icon>
        }
        @if(stake.source === 'liquid'){
          <ion-icon name="water-outline" class="account-type"></ion-icon>
        }
      }@else{
        <ion-skeleton-text animated />
      }
    </div>

    <!-- identifier Info Section -->
    <div class="identifier-info">
      @if(stake){
        <div class="identifier-name">{{getStakeName(stake)}}</div>
        <div class="account-address">
          {{getAccountShortAddress(stake)}}
          <ion-icon appCopyText [copyText]="stake?.address" name="copy-outline" />
        </div>
      }@else{
        <ion-skeleton-text class="skeleton-name" animated />
        <ion-skeleton-text style="width: 60px;" animated />
      }
    </div>
  </div>

  <!-- Stake Details Section -->
  <div class="stake-details">
    <div class="stake-info-wrapper">
      @if(stake){
        @if(stake.state === 'active'){
          <chip class="stake-apy" color="primary" [name]="'APY ' + getStakeApy(stake) + '%'" />
        }
        <div class="account-value">
          <div class="sol-amount">{{getStakeBalance(stake)}} {{stake.symbol === 'staked-SOL' ? 'SOL' : stake.symbol}}</div>
          <div class="usd-value">{{stake?.balance * solPrice() * stake.exchangeRate | currency}}</div>
        </div>
      }@else{
        <ion-skeleton-text style="width: 30px;" animated />
      }
    </div>

    
    <div class="action-icons">
      <ion-icon name="sparkles-outline" class="pro-insights-icon" 
      [class.pro-insights-open]="isOpenProInsight" 
      id="toggle-btn" fill="clear" 
      IsPro [IsProCallback]="emitOpenProInsight.bind(this)"
      />
      
      <ion-icon (click)="presentPopover($event)" name="ellipsis-vertical"/>
    </div>
  </div>
</div>
