<div class="stake-card">
  <div class="stake-info">
    <!-- identifier Profile Section -->
    <div class="identifier-profile">
      @if(stake){
        <ion-img [src]="getLogoURI(stake)" />
        @if(stake.type === 'native'){
          <ion-icon name="lock-closed-outline" class="account-type"></ion-icon>
        }
        @if(stake.type === 'liquid'){
          <ion-icon name="water-outline" class="account-type"></ion-icon>
        }
      }@else{
        <ion-skeleton-text animated />
      }
    </div>

    <!-- identifier Info Section -->
    <div class="identifier-info">
      @if(stake){
        <div class="identifier-name">{{getStakeName(stake)}}</div>
        <div class="account-address">
          {{getAccountShortAddress(stake)}}
          <ion-icon appCopyText [copyText]="stake?.address" name="copy-outline" />
        </div>
      }@else{
        <ion-skeleton-text class="skeleton-name" animated />
      }
    </div>
  </div>

  <!-- Stake Details Section -->
  <div class="stake-details">
    <div class="stake-info-wrapper">
      @if(stake){
        @if(stake.state === 'active'){
          <chip class="stake-apy" color="primary" [name]="'APY ' + getStakeApy(stake) + '%'" />
        }
        <div class="account-value">
          <div class="sol-amount">{{getStakeBalance(stake)}} {{stake.symbol}}</div>
          <div class="usd-value">{{stake?.balance * solPrice() * stake.exchangeRate | currency}}</div>
        </div>
      }@else{
        <ion-skeleton-text animated />
      }
    </div>
    
    <div class="action-icons">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-icon (click)="presentPopover($event)" name="ellipsis-vertical"></ion-icon>
    </div>
  </div>
</div>