<div class="convert-positions-modal">
  <div class="modal-header-wrapper">
    <div class="close-ad" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="modal-header">
      <div class="modal-header__title">Boost your staking rewards with hubSOL</div>
      <div class="modal-header__description">Convert your SOL to hubSOL to get 10% APY and become SolanaHub PRO memeber
      </div>
    </div>
  </div>

  <div class="freemium-access-popup modal-content">
    <div class="modal-body">
      <div class="modal-body__header">
        <ion-checkbox checked></ion-checkbox>
        <div>Deselect all 7 assets</div>
      </div>
      <cdk-virtual-scroll-viewport itemSize="74" minBufferPx="400" maxBufferPx="1000">
        <div class="modal-body__card" *cdkVirtualFor="let stake of [1,2,3,4,5]; let i = index;">
          <div class="modal-body__item">
            <ion-checkbox checked></ion-checkbox>
            <ion-img src="assets/images/close-icon.svg"/>
            <div class="modal-body__details">
              <div class="modal-body__details-title">Staker Space {{ i }}</div>
              <div class="modal-body__details-description"><span>0.011 SOL -></span> 0.012 hubSOL</div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <div class="modal-footer">
      <ion-button expand="block" (click)="convertToHubSOL()">
        Convert to 0.1 hubSOL
      </ion-button>
      <div class="modal-footer__message" (click)="hide()">Don't show me again</div>
    </div>
  </div>

</div>
