#chip-content {
  display: flex;
  align-items: center;
  font-size: 11px;
  gap: 2px;

  ion-img {
    width: 13px;
    height: 13px;
  }
}

.pro {
  background: var(--ion-color-light);
  border-radius: 9999px;
}


.pro--disabled {
  filter: grayscale(100%);
}