<form [formGroup]="unstakeForm" class=" ion-margin-bottom">
  <!-- <swap-setting (reloadRoute)="calcBestRoute()" [slippageControl]="tokenSwapForm.controls['slippage']"></swap-setting> -->

    <stake-input 
    [formType]="'unstake'"
    [label]="'unstake'"
    [assetControl]="unstakeForm.controls['inputToken']"
    [amountControl]="unstakeForm.controls['inputAmount']"
      />
  <unstake-path 
  [swapReceive]="swapReceive()"
  [slowUnstakeReceive]="slowUnstakeReceive()"
  [loading]="loading()"
  [unstakePath]="unstakePath()" 
  (onSelectPath)="selectUnstakePath($event)" 
  />
  <div id="stake-button-wrapper">
    <ion-button expand="block" [disabled]="unstakeState() === 'preparing transaction'" color="primary" (click)="submitForm()">
      <ion-label>{{unstakeState()}}</ion-label>
    </ion-button>
  </div>
    </form>
