<div id="stake-positions-container">
  <!-- <div id="stake-positions-header">
    <ion-segment value="liquid" mode="ios" (ionChange)="onSelectAsset($event)">
      <ion-segment-button value="liquid">
        <ion-label>Token</ion-label>
      </ion-segment-button>
      <ion-segment-button value="stake">
        <ion-label>Stake</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div> -->
  <div id="stake-positions-content">
    @if (positions$ | async; as positions) {
      @if (positions.length) {
        @for (position of positions; track position) {
          <position [stake]="position" (click)="onSelectAsset(position)" />
        }
      } @else {
        <p style="text-align: center;">No positions available</p>
      }
    } @else {
      <!-- Skeleton loader while positions are loading -->
      @for (item of [1,2,3]; track item) {
       
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 60px;"></ion-skeleton-text>
        
      }
    }
  </div>
</div>