<div id="stake-container">
<div id="stake-form">
  <div id="segment-stake-wrapper">
    <ion-segment value="stake" mode="ios" #segmentedView>
      <ion-segment-button value="stake">
        <ion-label>Stake
          @if(hubSOLApy()) {
          <chip color="primary" [name]="(hubSOLApy() | percent:'1.0-2') + 'APY'" />
          }@else {
            <ion-skeleton-text style="width: 50px;" animated/>
          }
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="unstake">
        <ion-label>Unstake</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  @if(segmentedView.value === 'stake') {
      <div id="convert-to-hubSOL-wrapper">
        @if(true) {
        <convert-to-hub-sol-box />
        }
      </div>
      <form [formGroup]="tokenSwapForm" class=" ion-margin-bottom">
        <!-- <swap-setting (reloadRoute)="calcBestRoute()" [slippageControl]="tokenSwapForm.controls['slippage']"></swap-setting> -->
        <div class="token-exchange">
          <div class="ion-margin-bottom">
          <stake-input 
          [label]="'Stake'"
          [assetControl]="tokenSwapForm.controls['inputToken']"
          [amountControl]="tokenSwapForm.controls['inputAmount']"
            />
          </div>
          <div class="ion-margin-bottom">
          <stake-input 
          [label]="'Receive'"
          [assetControl]="tokenSwapForm.controls['outputToken']" 
          [outValue]="getOutValue()" 
          [readonly]="true"
          [waitForBestRoute]="loading"
          />
          </div>
          <!-- @if(bestRoute()){
      
            <div id="route-path">
              <ion-button size="small">
                <div>
                  {{bestRoute()?.routePlan?.length}} 
                </div>
                <ion-img src="assets/images/route-icon.svg"/>
              </ion-button>
              <div>
      
                <span style="margin-inline-end: 3px;color: rgba(0, 0, 0, 0.25)">using </span>
                @for (lp of bestRoute().routePlan; track $index) {
                  <span> {{lp.swapInfo.label}}  @if ($index +1 < bestRoute().routePlan.length) {,}</span>
                  
                }
              </div>
            </div>
          } -->
          <div id="exchange-rate-wrapper">
            <div id="exchange-rate-label">Exchange Rate</div>
            <div id="exchange-rate-value">1 hubSOL ≈ {{hubSOLExchangeRate()}} SOL</div>
          </div>
          <div id="stake-button-wrapper">
            <ion-button expand="block" color="primary" (click)="submitSwap()">
              <ion-label>{{swapState()}}</ion-label>
            </ion-button>
          </div>
        </div>
      </form>
      
    
  }
  @if(segmentedView.value === 'unstake') {
    <!-- <form [formGroup]="unstakeForm" id="unstake-form-wrapper">
      unstake
    </form> -->
  }
</div>
  <div id="validator-insights">
    <div class="insight-item">
      <ion-img src="assets/images/staking-check-icon.svg" /> MEV Bonus
    </div>
    <div class="insight-item">
      <ion-img src="assets/images/staking-check-icon.svg" /> Paladin - sandwich Protection validator
    </div>
  </div>
</div>