<div id="stake-container">
<div id="stake-form">
  <div id="segment-stake-wrapper">
    <ion-segment value="stake" mode="ios" #segmentedView>
      <ion-segment-button value="stake">
        <ion-label>Stake
          <chip color="primary" name="7% APY" />
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="unstake">
        <ion-label>Unstake</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  @if(segmentedView.value === 'stake') {
      <div id="convert-to-hubSOL-wrapper">
        @if(true) {
        <convert-to-hub-sol-box />
        }
      </div>
      <form [formGroup]="stakeForm" id="stake-form-wrapper">
        <!-- <stake-input 
        [assetControl]="stakeForm.controls['asset']"
        [amountControl]="stakeForm.controls['amount']"
        [stakeAbleAssets]="stakeAbleAssets"
        /> -->
      </form>
  }
  @if(segmentedView.value === 'unstake') {
    <form [formGroup]="unstakeForm" id="unstake-form-wrapper">
      unstake
    </form>
  }
</div>
  <div id="validator-insights">
    <div class="insight-item">
      <ion-img src="assets/images/staking-check-icon.svg" /> MEV Bonus
    </div>
    <div class="insight-item">
      <ion-img src="assets/images/staking-check-icon.svg" /> Paladin - sandwich Protection validator
    </div>
  </div>
</div>