:host {
    text-transform: capitalize;
}

#pro-chart {
    margin-block-end: 8px;
}
#pro-insights-header {
    display: flex;
    align-items: center;
    gap: 8px;
}
#pro-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    margin-block-end: 19px;

    div {
        display: none;
        width: 88px;
    }

    ion-segment-button {
        color: var(--ion-color-dark);
        font-size: 11px;
        font-weight: 600;
        line-height: 16px;
    }

}

ion-icon {
    font-size: 12px;
    cursor: pointer;
}

.pro-group {
    border-bottom: 1px solid var(--ion-color-border);
    padding-block: 8px;
}

ion-label {
    color: var(--ion-light-gray);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    display: flex;
    gap: 4px;
    align-items: center;
}

ion-text {
    color: var(--ion-color-dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

#pro-start-date {

    display: flex;
    align-items: flex-end;
    gap: 4px;

    ion-label {
        font-size: 11px;
        font-weight: 400;

    }
}

#pro-authorities {
    ion-label {
        margin-block-end: 8px;
    }
}
#pro-inactive-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ion-button {
    --box-shadow: 0 0;
    min-height: 20px;
    font-size: 11px;
    font-weight: 600;
}