<div id="pro-insights" class="ion-padding">
  <div id="pro-insights-header">
    <ion-text>Insights</ion-text>
    <pro-badge/>
  </div>
  <div id="pro-chart">
    <div class="pro-group" id="pro-chart-header">
      <ion-label>Reward history</ion-label>
      <!-- <div>

        <ion-segment value="SOL" (ionChange)="onSelectRewardType($event)">
          <ion-segment-button value="SOL">SOL</ion-segment-button>
          <ion-segment-button value="USD">USD</ion-segment-button>
        </ion-segment>
      </div> -->
    </div>
    <div style="margin: 0 auto;width: 100%;height: 110px;">
      <canvas #chartEl></canvas>
    </div>
  </div>
  @if(stakePosition?.type === 'native'){
  <div class="pro-group">
    <ion-label >Total rewards</ion-label>
    <ion-text>{{ totalRewards }} SOL</ion-text>
  </div>
  @if(stakePosition?.inactive_stake > 0){
  <div class="pro-group">
    <ion-label>inactive balance(MEV)</ion-label>
    <div id="pro-inactive-balance">

      <ion-text>{{ stakePosition?.inactive_stake | number: '1.5'}} SOL 
      </ion-text>
      <ion-button fill="clear" size="small" (click)="withdraw()">withdraw</ion-button>
    </div>
  </div>
  }
  <div  class="pro-group">
    <ion-label>Start date</ion-label>
    <ion-text id="pro-start-date">
      @if(stakePosition?.proInsights?.startDate ){ {{ stakePosition.proInsights.startDate | date }} }
      @if(stakePosition.type === 'native'){
        <ion-label>EPOCH {{ stakePosition.activation_epoch}}</ion-label>
      }
    </ion-text>
  </div>
  <div  class="pro-group" id="pro-authorities">
    <ion-label>Authorities</ion-label>
    <ion-label>{{shortAddress(stakePosition.authorities.staker)}} <ion-icon name="copy-outline" [copyText]="stakePosition.authorities.staker" appCopyText></ion-icon> <chip name="staker"/></ion-label>
    <ion-label>{{shortAddress(stakePosition.authorities.withdrawer)}} <ion-icon name="copy-outline" [copyText]="stakePosition.authorities.withdrawer" appCopyText></ion-icon> <chip name="withdrawer"/></ion-label>
  </div>
  <div  class="pro-group">
    <ion-label>Account status</ion-label>
    @if(stakePosition.locked){
    <chip name="locked"/> 
    <ion-text>locked until {{stakePosition.lockedDue | date}}</ion-text>
    }
    @else{
    <chip name="unlocked" color="focus"/> 
    }
  </div>
}
@if(stakePosition?.type === 'liquid'){
others
}
</div>
