<ion-content [fullscreen]="true" #content>
  <page-header title="staking"
    description="Stake your SOL today and start earning staking rewards – transform your digital currency into a continuous source of passive income">
<div style="width: 100%;">
    <ion-row id="stat-wrapper" class="ion-justify-content-between ion-margin-top">
      @for (stat of validatorData; track $index) {
      <ion-col size="5.5" sizeLg="3.5" class="staking-stat">
        <div class="stat-title">{{stat.title}}</div>
        <div class="stat-desc">

          {{stat.desc()}}

          @if (stat.desc() === null) {
          <ion-skeleton-text [animated]="true" />
          }
        </div>

      </ion-col>
      }

    </ion-row>
  </div>
  </page-header>


  <ion-grid>





    <div>

      <ion-row class="ion-justify-content-center">
        <stake-box-wrapper />
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <stake-positions />
      </ion-row>
    </div>
  </ion-grid>
</ion-content>