.freemium-access-popup {
  position: relative;
  text-align: center;
  padding: 0 24px;
  color: var(--ion-color-dark);
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.modal-description {
  font-size: 13px;
  color: var(--ion-color-dark);
  grid-column: span 2;
  margin-bottom: 4px;
  line-height: 18px;

  &--mb {
    margin-bottom: .5rem;
  }
}

.modal-header {
  .energy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 336px;
  }

  .description {
    margin-top: 138px;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .close-ad ion-img {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.modal-body {
  border: 1px solid var(--ion-color-border);
  border-radius: 0.5rem;
  color: var(--ion-color-dark);
  margin-bottom: 24px;

  &__header {
    padding-block: 1rem;
    border-bottom: 1px solid var(--ion-color-border);
  }

  &__hubSol {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.72px;
  }

  &__hubSol-icon {
    width: 32px;
    height: 32px;
  }

  &__plan {
    padding: 16px 24px;

    @media (min-width: 576px) {
      display: inline-grid;
      grid-template-rows: auto;
      gap: 12px;
    }
  }
}

.service {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  &__description {
    font-weight: 500;
    color: var(--ion-color-dark);
    line-height: 24px;
  }

  ion-img {
    width: 1rem;
    height: 1rem;
  }
}

.modal-footer ion-button {
  text-transform: initial;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
}
