.freemium-access-popup {
  position: relative;
  text-align: center;
  padding-top: 0;
}

.plan-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.2rem;
  padding-inline: 2rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.modal-description {
  font-size: 13px;
  margin-bottom: 1rem;
  color: #4B5565;
}

.divider {
  border-bottom: 1px solid #E3E8EF;
}

.modal-header {
  .energy {
    display: inline-block;
    padding-top: -20px;
    height: 200px;
    width: auto;
  }

  .d-flex {
    margin-top: -5rem;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
  }

  .close-ad ion-img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 25px;
    cursor: pointer;
  }
}

.modal-body {
  border: 1px solid #E3E8EF;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 1.5rem;
  margin-block: 1.5rem;

  &__hubSol {
    font-size: 2rem;
    font-weight: 500;
  }

  ion-img {
    width: 32px;
    height: 32px;
  }
}

.service {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  &__description {
    font-weight: 500;
    color: var(--ion-color-dark);
  }
}

.modal-footer ion-button {
  text-transform: capitalize
}
