.freemium-access-popup {
  position: relative;
  text-align: center;
  padding: 0 24px;
  color: var(--ion-color-dark);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.modal-description {
  font-size: 13px;
  color: var(--ion-color-dark);
  grid-column: span 2;
  margin-bottom: 4px;

  &--mb {
    margin-bottom: .5rem;
  }
}

.modal-header {
  .energy {
    display: inline-block;
    padding-top: -20px;
    height: 200px;
    width: auto;
  }

  .d-flex {
    margin-top: -5rem;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
  }

  .close-ad ion-img {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.modal-body {
  border: 1px solid #E3E8EF;
  border-radius: 0.5rem;
  color: var(--ion-color-dark);

  &__header {
    padding-block: 1rem;
    border-bottom: 1px solid #E3E8EF;
  }

  &__hubSol {
    font-size: 36px;
    font-weight: 500;
  }

  &__hubSol-icon {
    width: 26px;
    height: 26px;
  }

  &__plan {
    display: inline-grid;
    grid-template-rows: auto;
    gap: 12px;
    padding-block: 24px;
  }
}

.service {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  &__description {
    font-weight: 500;
    color: var(--ion-color-dark);
  }

  ion-img {
    width: 1rem;
    height: 1rem;
  }
}

.modal-footer ion-button {
  text-transform: initial;
}
