<ng-container *ngIf="!isPremium()">
  <div class="upgrade-wrapper">
    <div class="upgrade-wrapper__bg-image"></div>
    <div class="upgrade-wrapper__upgrade">
      <div class="upgrade-wrapper__pro">
        <chip color="pro pro--try-pro">Try PRO</chip>
        <ion-text class="upgrade-wrapper__pro-description">
          Cover this transaction fee by upgrading to SolanaHub PRO and enjoy no limits and growing community.
        </ion-text>
      </div>
      <div class="upgrade-wrapper__learn-more">
        <ion-button size="small" (click)="openFreemiumAccessPopup()">Learn more</ion-button>
      </div>
    </div>
  </div>
</ng-container>
