<div id="portfolio-menu">
  <div id="portfolio-menu-header">
    <div id="portfolio-menu-header-titles">
      <div id="portfolio-menu-header-title">
        Connected wallets
      </div>
      <div id="portfolio-menu-header-subtitle">
        You can connect up to 4
      </div>
    </div>
  </div>
  @for (wallet of walletsPortfolio(); let i = $index; track i) {
    <portfolio-box
      [isPrimary]="wallet.walletAddress === connectedWalletAddress"
      [wallet]="wallet"
      (delete)="delete($event)"
      (toggle)="toggle($event)"
      (update)="openPortfolioSetup($event)"
      (reload)="reload($event)"/>
  }

  @if (spinnerState()) {
    <portfolio-box/>
  }
  @if (canAddWallet()) {
    <div id="portfolio-menu-add-area"  (click)="openPortfolioSetup()">
      <div id="portfolio-button-add">
        <ion-icon name="add-circle-outline"></ion-icon>
        <span>Add wallet</span>
      </div>
      <pro-badge [show]="true"/>
    </div>
  }
</div>
