#portfolio-menu {
  margin-block-start: 20px;
}

#portfolio-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 20px;
  align-items: center;
}

#portfolio-menu-header-title {
  color: var(--ion-color-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#portfolio-button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding-block: 17px;
  border-block: 1px solid var(--ion-color-border);
  color: var(--ion-light-gray);
  font-size: 13px;
  font-weight: 600;

  ion-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}

#portfolio-menu-header-subtitle {
  color: var(--ion-light-gray);
  font-size: 13px;
}
