<stake-epoch/>
<div id="positions-container">
  <div id="positions-header">
    <ion-label>Positions</ion-label>
  </div>
  @if((positions$ | async) === null){
  <div class="group-container">
    <div class="group-header">
      <div class="header-item">
        <div class="group-title">
          <ion-skeleton-text style="width: 100px;" animated />
        </div>
        <ion-text><ion-skeleton-text style="width: 300px;" animated /></ion-text>
      </div>

    </div>
    <position [stake]="" />
    <position [stake]="" />
    <position [stake]="" />
  </div>
  }@else{

  @for (group of positions$ | async; track $index) {
  <div class="group-container">
    <div class="group-header">
      <div class="header-item">
        <div class="group-title">
          <ion-label>{{group.state}} </ion-label>
          <chip [name]="group.positions.length + ' • ' + (group.totalValue | currency)" [color]="getGroupColor(group.state)" />
        </div>
        <ion-text>{{group.description}}</ion-text>
      </div>

      <div class="header-item">
        @if(group.state === 'active'){
        <div class="group-item apy-item">
          <ion-label>avg APY</ion-label>
          <ion-text>{{group.avgAPY}}%</ion-text>
        </div>
        }
      </div>
    </div>


    @for (position of group.positions; track $index) {
    <position [stake]="position" />
    }
  </div>
  }@empty {

  <div class="no-positions">
    No positions found
  </div>

  }
  }

</div>