:host{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}

#freemium-ad {
    height: inherit;
    border: 1px solid #FDD1EE;
    font-weight: 500;
    background: var(--ion-color-primary-bg);
    color: var(--ion-color-primary);
    font-size: 14px;

   #ad-text {
    // flex: 10;
    height: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;

    ion-button {
      --color: var(--ion-color-primary);
      text-transform: capitalize;
    }
  }
}

.close-ad {
  position: absolute;
  right: 16px;
  top: 14px;
}

ion-img {
  width: 25px;
  cursor: pointer;
}
