:host {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

#freemium-ad {
  height: 50px;
  font-weight: 500;
  background: var(--ion-color-primary-bg);
  color: var(--ion-color-primary);
  font-size: 13px;

  #ad-text {
    font-size: 13px;
    font-weight: 500;
    height: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 12px
  }

  .learn-more {
    background: var(--ion-color-light);
    border-radius: 6px;
  }
}

.close-ad {
  position: absolute;
  right: 26px;
  top: 20px;
}

ion-icon {
  font-size: 16px;
  cursor: pointer;
  color: var(--ion-color-dark);
}
