<!-- <div id="convert-to-hubSOL-wrapper" class="ion-margin-bottom">

  <convert-to-hub-sol-box />

</div> -->
<form [formGroup]="tokenSwapForm" class=" ion-margin-bottom">
  <!-- <swap-setting (reloadRoute)="calcBestRoute()" [slippageControl]="tokenSwapForm.controls['slippage']"></swap-setting> -->
  <div class="token-exchange">
    <div class="ion-margin-bottom">
    <stake-input 
    [label]="'Stake'"
    [assetControl]="tokenSwapForm.controls['inputToken']"
    [amountControl]="tokenSwapForm.controls['inputAmount']"
      />
    </div>
    <div class="ion-margin-bottom">
      <stake-path 
      [swapReceive]="getOutValue()" 
      [nativeStakePathDisabled]="tokenSwapForm.controls['inputToken'].value.symbol != 'SOL'"
      [slowStakeReceive]="tokenSwapForm.controls['inputAmount'].value" 
     
     [stakePath]="tokenSwapForm.controls['stakePath'].value"
      (onSelectPath)="setStakePath($event)" />
  
    <!-- <stake-input 
    [label]="'Receive'"
    [assetControl]="tokenSwapForm.controls['outputToken']" 
    [outValue]="getOutValue()" 
    [readonly]="true"
    [waitForBestRoute]="loading"
    /> -->
    </div>

    @if(tokenSwapForm.controls['stakePath'].value == 'liquid'){
    <div id="exchange-rate-wrapper">
      <div id="exchange-rate-label">Exchange Rate</div>
      <div id="exchange-rate-value">1 hubSOL ≈ {{hubSOLExchangeRate()}} SOL</div>
    </div>
    }
    <div id="stake-button-wrapper">
      <ion-button expand="block" [disabled]="tokenSwapForm.invalid || formState() === 'preparing transaction'" color="primary" (click)="submitForm()">
        <ion-label>{{formState()}}</ion-label>
      </ion-button>
    </div>
  </div>
</form>
